doctype
html
  head
    base(href="http://marcincharezinski.github.io/marcincharezinski.io")
    link(rel="stylesheet", href="main.css")
  body
    != partial("_shared/nav")
    != yield
    footer
      != partial("_shared/nav")