doctype
html
  head
    link(rel="stylesheet", href="http://marcincharezinski.github.io/marcincharezinski.io/main.css")
  body
    != partial("_shared/nav")
    != yield
    footer
      != partial("_shared/nav")